.cache
.dotnet
.npm
.bash_history
.git-credential-cache
.ssh
.vscode-server
.local
.gem
.lesshst
.sudo_as_admin_successful
.motd_shown
.wget-hsts
.hushlogin
.vimgolf
.vim
.config
.viminfo
.git-credentials
.gnupg
.lesshst
